POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

RFID_PORT_BY_ID_LEFT= # eg /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_BG01PVA3-if00-port0
RFID_PORT_BY_ID_RIGHT=
RFID_PORT_REAL_1= # eg /dev/ttyUSB0
RFID_PORT_REAL_2=

CAMERA_DEVICE_BY_ID= # eg /dev/v4l/by-id/usb-Arducam_Technology_Co.__Ltd._USB_Camera_SN0001-video-index0
CAMERA_DEVICE_REAL= # eg /dev/video0

DJANGO_SECRET_KEY=
