services:
  hardware-agent:
    develop:
      watch:
        - action: sync+restart
          path: ./hardware-agent/src
          target: /app/src
          ignore:
            - "**/__pycache__"
            - "**/*.pyc"
            - "**/*.egg-info"
            - "**/*.venv"
        - action: rebuild
          path: ./hardware-agent/pyproject.toml
        - action: rebuild
          path: ./hardware-agent/uv.lock

  db:
    ports:
      # Exposes the DB on a port on the host machine to allow debugging
      - "5432:5432"
