{% extends "base.html" %}
{% load list_tables static %}

{% block title %}Today | Coop{% endblock %}

{% block content %}
<h1 class="mb-4">Today</h1>

<div class="row g-3">

  {% htmx_poll_panel "web_app/partials/_eggs_today.html" url=partial_eggs_today_url columns="col-12 col-md-6" %}

  {% htmx_poll_panel "web_app/partials/_laid_chickens.html" url=partial_laid_chickens_url columns="col-12 col-md-6" %}

  {# Latest nesting-box image. Swapped by dashboard_image.js (not htmx)
     so we can preload the new JPEG before updating <img src>, avoiding
     a flash between frames. #}
  <div class="col-12" id="image-container">
    {% include 'web_app/partials/_latest_image.html' %}
  </div>

  {% htmx_poll_panel "web_app/partials/_latest_presence.html" url=partial_latest_presence_url columns="col-12 col-md-5" %}

  {% htmx_poll_panel "web_app/partials/_latest_events.html" url=partial_latest_events_url columns="col-12 col-md-4" %}

  {% htmx_poll_panel "web_app/partials/_sensors.html" url=partial_sensors_url columns="col-12 col-md-3" %}

</div>

{# Data handoff to dashboard_image.js via json_script. #}
{{ dashboard_config|json_script:"dashboard-config" }}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'web_app/js/dashboard_image.js' %}"></script>
{% endblock %}
