{% extends "base.html" %}

{% block title %}Add egg{% endblock %}

{% block content %}
  <h1>Add egg</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
      <label for="{{ form.chicken.id_for_label }}">Chicken (optional)</label>
      {{ form.chicken }}
    </div>

    <div>
      <label for="{{ form.nesting_box.id_for_label }}">Nesting box (optional)</label>
      {{ form.nesting_box.errors }}
      {{ form.nesting_box }}
    </div>

    <div>
      <label for="{{ form.laid_at.id_for_label }}">Laid at</label>
      {{ form.laid_at.errors }}
      {{ form.laid_at }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}